@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
body {
  transition: all 0.5s ease 0.6s !important;
  margin: 2px;
  font-family: "Raleway", serif !important;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  width: 100%;
  /* background-color: linear-gradient(to left, rgb(41, 30, 20), rgb(35, 34, 15)); */
}
